@import "partials/colors";

.primary-link{
  color:$primary-color;
}

.primary-button{
  color:white;
  background: $primary-color;
  font-weight: 600;
}

.play-ico{
  height: 25px;
  width: 25px;
  display: block;
  border-radius: 50%;
  border: 1px solid #E4E4E4;
  position: relative;
  margin-left: 13px;
  text-align: center;
  color:inherit;
}

.arrow-ico {
  position: absolute;
  height: 17px;
  width: 17px;
  border: 2px solid #secondary-text-color;
  border-top: none;
  border-left: none;
  display: block;
  top: 8px;
  right: 10px;
  transform: rotate(45deg);
  transition: 0.3s all ease-in-out;
}

.arrow-ico.collapse{
  transform: rotate(225deg);
  top: 18px;
}