//main body css

$primary-color:#ED5353;
$primary-text-color:#2A2A2A;
$primary-heading-color:#0B0B0B;
$body-background:#F1F1F1;
$footer-background:#484B50;
$primary-border-color:#E4E4E4;
$footer-secondary-background:#313539;

.task-list {
  padding: 30px 0;
  height:100%;
}
