.header-wrapper {
  height: 64px;
  background: #ED5353;
}

.logo-text {
  color: #fff;
  font-weight: 600;
  padding-top: 10px;
  font-size: 32px;
}

.header-search__input {
  background: transparent;
  padding: 8px 18px;
  border-radius: 50px;
  margin-top: 14px;
  width: 260px;
  color: #fff;
  font-size: 16px;
  border: 1px solid white;
  padding-right: 40px;
}

.user-details-wrapper {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
}

.header-search-wrapper {
  position: relative;
}

.header-search-wrapper .search-ico {
  color: #fff;
  position: absolute;
  right: 12px;
  top: 22px;
}
