//:::::::::::LAYOUT CLASSES :::::::::::::::::::

.tr-wrapper {
  height: 100%;
}

.main-body {
  height: calc(100% - 175px);
  overflow:auto;
}

.width-container {
  width: 1100px;
  margin: 0 auto;
}
