//:::::::::::LAYOUT CLASSES :::::::::::::::::::
$primary-color:#ED5353;
$primary-text-color:#2A2A2A;
$primary-heading-color:#0B0B0B;
$body-background:#F1F1F1;
$primary-border-color:#E4E4E4;
$footer-background:#484B50;
$footer-secondary-background:#313539;


.tr-wrapper {
  height: 100%;
}

.main-body {
  height: calc(100% - 175px);


.width-container {
  width: 1100px;
  margin: 0 auto;
}