@font-face {
	font-family: "Flaticon";
	src: url("flaticon/flaticon.eot");
	src: url("flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon/flaticon.woff") format("woff"),
	url("flaticon/flaticon.ttf") format("truetype"),
	url("flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-check19:before {
	content: "\e000";
}
.flaticon-delete85:before {
	content: "\e001";
}
.flaticon-delete96:before {
	content: "\e002";
}
.flaticon-edit45:before {
	content: "\e003";
}
.flaticon-filter18:before {
	content: "\e004";
}
.flaticon-pause52:before {
	content: "\e005";
}
.flaticon-play128:before {
	content: "\e006";
}
.flaticon-show8:before {
	content: "\e007";
}
.flaticon-star178:before {
	content: "\e008";
}
.flaticon-tool1068:before {
	content: "\e009";
}
